*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    list-style: none;
    /* color: #333; */
    outline: none;
}
ul,li{
    list-style: none;
}
input{
    outline: none;
    border: none;
}
.top-image{
    background-image: url(../images/topbar.png);
}
.wrap{
    width: 1100px;
    margin: 0 auto;
    
}
.active{
    
}