*{
    margin: 0;
    padding: 0;
}
body{
    min-width: 982px;
    background: #f5f5f5;
    font-size: 12px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    list-style: none;
    color: #333;
    cursor: pointer;
    outline: none;
}
ul,li{
    list-style: none;
}
em,i{
    list-style: normal;
    font-style: inherit;
}
.s-fc3, a.s-fc3:hover {
    color: #666;
}
.clear::after{
    display: block;
    content: "";
    clear: both;
    visibility: hidden;
    height: 0;
}
.top-image{
    background-image: url(../images/topbar.png);
}
.wrap{
    width: 1100px;
    margin: 0 auto;
    
}
.thide{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.active{
    
}