
.topbar .top{
    height: 70px;
    background: #242424;
    border-bottom: 1px solid #000;
}

.top .topmain{
    display: flex;
    justify-content: space-between;
}
.top .left {
    display: flex;
}
.top .left .logo{
    width: 176px;
    height: 69px;
    background-position: 0 0;
}
.top .left ul{
    display: flex;
    font-size: 14px;
}

.top .left ul a{
    position: relative;
    display: inline-block;
    /* width: 90px; */
    padding: 0 20px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: #ccc;

}
.top .left .cor{
    display: block;
    position: absolute;
    left: 50%;
    top: 65px;
    width: 12px;
    height: 7px;
    background-position: -226px 0;
}
.top .left a:hover{
    color: #fff;
    background: #000;
}

.top .left .hot{
    display: block;
    position: absolute;
    top: 21px;
    left: 105px;
    width: 28px;
    height: 19px;
    background-position: -190px 0;
}
.wrap .right{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.wrap .right .login{
    height: 45px;
    padding-right: 22px;
    line-height: 45px;
    color:#787878;
    margin-left: 20px;
}
.wrap .right .login a{
    display: block;
    width: 28px;
    color:#787878
}
.wrap .right .login a:hover{
    color:#999
}
.wrap .right .author{
    width: 90px;
    height: 32px;
    border: 1px solid #4f4f4f;
    border-radius: 20px;
    color: #ccc;
    line-height: 33px;
    text-align: center;
}
.wrap .right .author:hover{
    border: 1px solid #ccc;
    color: #fff;
}

.wrap .right .search{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 10px;
    width: 158px;
    height: 32px;
    background:#fff ;
    border-radius: 32px;
}
.wrap .right .search .search-icon{
    position: absolute;
    left: 8px;
    top: 8px;
    width: 13px;
    height: 14px;
    background-color: #000 ;
    background-position: -10px -108px;
}
.wrap .right .search .searchlable{
    display: block;
    position: absolute;
    top: 8px;
    left: 6px;
    width: 90%;
    color: #9b9b9b;
    text-align: center;
}

.wrap .right .search .search-input{
    margin-left: 20px;
    width: 82%;
    border: 0;
    line-height: 16px;
}
.wrap .right .search .search-input:focus{
    border: 0;
}
.bottom{
    box-sizing: border-box;
    
    height: 35px;
    background-color: #c20c0c;
    color: #fff;
}
.bottom .list{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 185px;
    height: 35px;
}

.bottom .list .item a{
    color: #fff;
    display: block;
    height: 20px;
    padding: 0 13px;
    margin: 7px 17px;
    line-height: 20px;
    border-radius: 17px;
    
}
.bottom .list a:hover{
    background:#9b0909;
}
.bottom .list li:nth-child(3){
    position: relative;
}
.bottom .list .icon::after{
    display: block;
    position: absolute;
    content: "R";
    border-radius: 50%;
    top: 5px;
    right: 15px;
    width: 10px;
    height: 10px;
    font-size: 3px;
    text-align: center;
    line-height: 10px;
    color: yellow;
    background-color: #00f;
    overflow: hidden;
}
.banner{
    background-size: 6000px;
    background-image: url(/images/banner.jpg);
    background-position: center center;
}
.banner .banwrap{
    position: relative;
    width: 982px;
    height: 285px;
    margin: 0 auto;
}
.banner .banwrap .img-ban{
    width: 100%;
    height: 285px;
    overflow: hidden;
}
.banner .banwrap .img-ban img{
    display: block;
    width: 730px;
}
.banner .banwrap .btnl{
    display: block;
    position: absolute;
    top:50%;
    left: -68px;
    margin-top: -31px;
    width: 37px;
    height: 63px;
    background: url(/images/arrow.png) no-repeat 0 -360px;
}
.banner .banwrap .btnr{
    display: block;
    position: absolute;
    top:50%;
    right: -68px;
    margin-top: -31px;
    width: 37px;
    height: 63px;
    background: url(/images/arrow.png) no-repeat 0 -508px;
}
.banner .banwrap .dots{
    position: absolute;
    top: 259px;
    left: 0;
    width: 730px;
    height: 20px;
    text-align: center;
}
.banner .banwrap .dots a{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(/images/arrow.png) no-repeat 3px -343px;
}
.banner .banwrap .dots a:nth-child(1){
    background: url(/images/arrow.png) no-repeat -16px -343px;
}
.banner .download{
    position: absolute;
    top: 0;
    z-index: 20;
    right: -1px;
    width: 254px;
    height: 285px;
    background: url(/images/download.png) no-repeat 0 0;
}
.banner .download .btn{
    display: block;
    width: 215px;
    height: 56px;
    margin: 186px 0 0 19px;
    background-position: 0 9999px;
    text-indent: -9999px;
    background: url(/images/download.png) no-repeat -20px -185px;
}
.banner .download p{
    margin: 10px auto;
    text-align: center;
    color: #8d8d8d;
}
.banner .download .shadowl{
    display: block;
    position: absolute;
    top: 0;
    left:-20px;
    width: 20px;
    height: 285px;
    background: url(/images/arrow.png) no-repeat -1px 0;
}
.banner .download .shadowr{
    display: block;
    position: absolute;
    top: 0;
    right:-20px;
    width: 20px;
    height: 285px;
    background: url(/images/arrow.png) no-repeat -20px 0;
}
.main{
    margin: 0 auto;
    width: 980px;
    border: 1px solid #d3d3d3;
    min-height: 700px;
    background: url(/images/wrap1.png) repeat-y 100% 100% ;
}
.main .left-main{
    float: left;
    width: 100%;
    margin-right: -250px;
}
.main .left-main .wrap2{
    margin-right: 251px;
}
.main .left-main .wrap2 .wrap3{
    padding: 20px 20px 40px;
}
.left-main .hot-wrap .hot-title{
    height: 33px;
    padding: 0 10px  0 34px;
    border-bottom: 2px solid #C10D0C;
    background: url(/images/index.png) no-repeat -225px -156px;
}
.tit{
    float: left;
    /* display: block; */
    font-size: 20px;
    line-height: 28px;
    font-weight: normal;
}
.left-main .hot-wrap .hot-title .tab{
    float: left;
    margin: 7px 0 0 20px;
}
.hot-wrap .hot-title .tab a:hover{
   text-decoration-line: underline;
}
.hot-wrap .hot-title .tab .line{
    margin: 0 10px;
    color: #ccc;
}
.more{
    float: right;
    margin-top: 9px;
}
.more .cor{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 4px;
    vertical-align: middle;
    background: url(/images/index.png) no-repeat 0 -240px;
}
.hot-wrap .hot-title .more i{
    font-style: normal;
    text-align: left;
}
.hot-wrap .cover-list{
    margin: 20px 0 0 -42px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hot-wrap .cover-list li{
    width: 140px;
    height: 204px;
    padding: 0 0 30px 42px;
}
.hot-wrap .cover-list .cover-box{
    position: relative;
}
.hot-wrap .cover-list .cover-box .cover-img{
    display: block;
}
.hot-wrap .cover-list .cover-box .msk{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/images/coverall.png) no-repeat 0 0;
}
.hot-wrap .cover-list .cover-box .bottom{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 27px;
    color: #ccc;
    background: url(/images/coverall.png) no-repeat 0 -537px;
}
.cover-list .cover-box .bottom .icon-play{
    position: absolute;
    display: inline-block;
    right: 10px;
    bottom: 4px;
    width: 16px;
    height: 17px;
    background: url(/images/iconall.png) no-repeat 0 0;
}
.cover-list .cover-box .bottom .icon-head{
    display: block;
    float: left;
    width: 14px;
    height: 11px;
    margin: 9px 5px 9px 10px;
    background: url(/images/iconall.png) no-repeat 0 -24px;
}
.cover-list .cover-box .bottom .num{
    display: block;
    float: left;
    margin-top: 7px;
}
.hot-wrap .cover-list .dec{
    margin: 8px 0 3px;
    width: 100%;
    font-size: 14px;
}
.wrap3 .music-ad{
    position: relative;
    margin: 0 0 35px;
}
.wrap3 .header{
    height: 33px;
    padding: 0 10px 0 34px;
    border-bottom: 2px solid #C10D0c;
    background: url(/images/index.png) no-repeat -225px -156px;
}
.wrap3 .new-music .disk{
    position: relative;
    zoom:1;
    height: 186px;
    margin: 20px 0 37px;
    border: 1px solid #d3d3d3;
}
.wrap3 .new-music .disk .inner{
    height: 184px;
    padding-left: 16px;
    background: #f5f5f5;
    border: 1px solid #fff;
}
.new-music .disk .inner .left-arrow{
    position: absolute;
    top: 71px;
    left: 4px;
    width: 17px;
    height: 17px;
    background: url(/images/index.png) no-repeat -260px -75px;
}
.new-music .disk .inner .roll{
    position: relative;
    overflow: hidden;
    margin-top: 28px;
    width: 645px;
    height: 180px;
}
.new-music .inner .roll li{
    float: left;
    width: 118px;
    height: 150px;
    margin-left: 11px;
    background: url(/images/index.png) no-repeat -260px 100px;
}
.inner .roll .alb{
    position: relative;
    margin-bottom: 7px;
    width: 100px;
    height: 100px;
}
.inner .roll .alb img{
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
}
.inner .roll .alb .msk{
    position: absolute;
    top: 0;
    left: 0;
    background: url(/images/coverall.png) no-repeat 0 -570px;
    width: 118px;
    height: 100px;

}

.inner .roll p{
    width: 90%;
    line-height: 18px;
}
.inner .roll .thide-col{
    color: #666;
}

.wrap3 .bill .bill-list{
    height: 472px;
    margin-top: 20px;
    padding-left: 1px;
    background: url(/images/index_bill.png) no-repeat 0 0;
}
.wrap3 .bill .bill-list .blk{
    float: left;
    width: 229px;
}
.bill .bill-list .blk .top{
    height: 100px;
    padding: 20px 0 0 19px;
}
.bill-list .blk .top .top-cover{
    position: relative;
    float: left;
    width: 80px;
    height: 80px;
}
.blk .top .top-cover img{
    display: block;
    width: 100%;
    height: 100%;
}
.blk .top .top-cover a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/images/coverall.png) no-repeat -147px -57px;
}
.bill-list .blk .top .top-tit{
    float: left;
    width: 116px;
    margin: 6px 0 0 10px;

}
.bill-list .blk .top .btn{
    margin-top: 10px;
}
.blk .top .btn a{
    display: block;
    float: left;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    text-indent: -9999px;
    background: url(/images/index.png) no-repeat 0 9999px;
}
.blk .top .btn .play-icon{
    background-position: -267px -205px ;
}
.blk .top .btn .collect-icon{
    background-position: -300px -205px;
}
.bill-list .blk .sings-rank{
    height: 319px;
    margin-left: 50px;
    line-height: 32px;

}
.bill-list .blk .sings-rank li{
    height: 32px;
    vertical-align: middle;

}
.bill-list .blk .sings-rank .num-rank{
    float: left;
    position: relative;
    width: 35px;
    height: 32px;
    margin-left: -35px;
    text-align: center;
    font-size: 16px;
    color: #C10D0c;
}
.bill-list .blk .sings-rank .oper{
    float: right;
    width: 82px;
    margin-top: 7px;
}
.blk .sings-rank .oper a{
    display: inline-block;
    float: left;
    width: 17px;
    height: 17px;
    margin-right: 10px;
}
.sings-rank .oper a:nth-child(1){
    background: url(/images/index.png) no-repeat -267px -268px;
}
.sings-rank .oper a:nth-child(2){
    background: url(/images/icon.png) no-repeat 0 -698px;
}
.sings-rank .oper a:nth-child(3){
    background: url(/images/index.png) no-repeat -297px -268px;
}
.blk .sing-more{
    height: 32px;
    margin-right: 32px;
    text-align: right;
    line-height: 32px;
}
.blk .sing-more a{
    color: #000;
}
.right-main{
    position: relative;
    float: left;
    width: 250px;

}
.right-main .login{
    height: 126px;
    background: url(/images/index.png) no-repeat 0 0;
}
.right-main .login .login-note{
    width: 205px;
    margin: 0 auto;
    padding: 16px 0;
    line-height: 22px;
}
.right-main .login .login-btn{
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 0 #8a060b;
    background: url(/images/index.png) no-repeat 0 -195px;
}
.right-main .settled-singer{
    margin-top: 15px;
}
.right-main .settled-singer .title{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 23px;
    margin: 0 20px;
    border-bottom: 1px solid #ccc;
}
.right-main .settled-singer .title a{
    color: #666;
    font-weight: normal;
    font-size: 100%;
}
.right-main .settled-singer .singer-list{
    margin: 6px 20px 14px;
}
.right-main .settled-singer .singer-list li{
    margin-top: 14px;
    width: 210px;
    height: 62px;
    background: #fafafa;
    display: flex;
}
.settled-singer .singer-list .header{
    width: 62px;
    height: 62px;
}
.settled-singer .singer-list .header img{
    display: block;
}
.settled-singer .singer-list .info{
    width: 133px;
    height: 60px;
    padding-left: 14px;
    border: 1px solid #e9e9e9;
    border-left:  none;
}
.settled-singer .singer-list .info h4{
    margin-top: 8px;
   

}
.singer-list .info h4 span{
    display: inline-block;
    font-size: 14px;
    width: 90%;


}
.settled-singer .singer-list .info p{
    margin-top: 8px;
    width: 90%;
    color: #666;
}
.settled-singer .apply{
    display: inline-block;
    margin-left: 20px;
    padding-right: 5px;
    border-radius: 4px;
    height: 31px;
    line-height: 31px;
    overflow: hidden;
    vertical-align: top;
    text-align: center;
    color: #333;
    background: url(/images/button2.png) no-repeat right -100px;


}
.settled-singer .apply i {
    display: inline-block;
    width: 170px;
    font-weight: bold;
    padding: 0 15px 0 20px;
    height: 31px;
    line-height: 31px;
    vertical-align: top;
    text-align: center;
    background: url(/images/button2.png) no-repeat 0 -59px;
}
.right-main .hot-singer{
    margin-top: 30px;
}
.hot-singer .title{
    margin: 0 20px;
    height: 23px;
    font-size: 100%;
    border-bottom: 1px solid #ccc;
    color: #333;
}
.hot-singer .hot-list{
    margin: 20px 0 0 20px;
}
.hot-singer .hot-list li{
    height: 210px;
    height: 50px;
    display: flex;
}
.hot-singer .hot-list li .cver{
    width: 40px;
    margin-right: 10px;
}
.hot-list li .cver img{
    width: 40px;
    height: 40px;
    box-shadow: 0 0  1px #333 inset;
}
.hot-singer .hot-list li .info{
    width: 160px;
    line-height: 21px;
}
.hot-list li .info p{
    width: 100%;
}
.hot-list li .info .nm{
    display: inline-block;
    max-width: 88%;
    vertical-align: top;
    color: #000;
}
.footer{
    position: relative;
    height: 172px;
    overflow: hidden;
    border-top: 1px solid #d3d3d3;
    background: #f2f2f2;
}
.footer .main-footer{
    margin: 0 auto;
    width: 980px;
    display: flex;
    justify-content: space-between;
}
.footer .main-footer .left-main{
    width: 535px;
    padding-top: 15px;
    line-height: 24px;
}
.footer .main-footer .left-main .item{
   color: #999;
}
.footer .main-footer .left-main .line{
    margin: 0 2px 0 4px;
    color:#c2c2c2
}
.footer .main-footer .left-main .copy{
    color: #666;

}
.main-footer .left-main .copy .seq{
    margin-right: 14px;
}
.main-footer .left-main .copy a{
    color: #666;
}
.main-footer .left-main .alink a{
    color: #666;
}
.main-footer .left-main .alink a:hover{
    text-decoration: underline;
}
.main-footer .left-main .alink .police-logo{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(/images/police.png) no-repeat;
    background-size: cover;
    margin-right: 2px;
    vertical-align: -2px;
}
.main-footer .left-main .alink .police{
    margin-left: 5px;
}
.main-footer .left-main .supervise{
    display: flex;
    justify-content: space-between;
    color: #666;
}
.main-footer .right-main{
    width: 420px;
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
}
.main-footer .right-main li{
    width: 60px;
    height: 70px;
    text-align: center;
    color: #666;
}
.main-footer .right-main a{
    margin: 0 auto;
    width: 50px;
    height: 45px;
    display: block;
    background: url(/images/foot_enter_new.png) no-repeat -63px -456.5px;
    background-size: 110px 552px;
    /* background-position: ; */
}
.main-footer .right-main span{
    display: inline-block;
    margin: 5px 5px 0;
    width: 52px;
    height: 14px;
    background: url(/images/foot_enter_tt.png) no-repeat -1px -91px;
    background-size: 180px 139px;
}
.back{
    display: block;
    position: fixed;
    left: 50%;
    bottom: 160px;
    margin-left: 500px;
    width: 49px;
    height: 45px;
    background: url(/images/sprite.png) no-repeat;
    background-position: -265px -47px;
}