
.topbar{

}
.top{
    height: 70px;
    background: #242424;
    border-bottom: 1px solid #000;
}

.top .topmain{
    display: flex;
    justify-content: space-between;
}
.top .left {
    display: flex;
}
.top .left .logo{
    width: 176px;
    height: 69px;
    background-position: 0 0;
}
.top .left ul{
    display: flex;
    font-size: 14px;
}

.top .left ul a{
    position: relative;
    display: inline-block;
    /* width: 90px; */
    padding: 0 20px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: #ccc;

}
.top .left .cor{
    display: block;
    position: absolute;
    left: 50%;
    top: 65px;
    width: 12px;
    height: 7px;
    background-position: -226px 0;
}
.top .left a:hover{
    color: #fff;
    background: #000;
}

.top .left .hot{
    display: block;
    position: absolute;
    top: 21px;
    left: 105px;
    width: 28px;
    height: 19px;
    background-position: -190px 0;
}
.wrap .right{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.wrap .right .login{
    height: 45px;
    padding-right: 22px;
    line-height: 45px;
    color:#787878;
    margin-left: 20px;
}
.wrap .right .login a{
    display: block;
    width: 28px;
    color:#787878
}
.wrap .right .login a:hover{
    color:#999
}
.wrap .right .author{
    width: 90px;
    height: 32px;
    border: 1px solid #4f4f4f;
    border-radius: 20px;
    color: #ccc;
    line-height: 33px;
    text-align: center;
}
.wrap .right .author:hover{
    border: 1px solid #ccc;
    color: #fff;
}

.wrap .right .search{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 10px;
    width: 158px;
    height: 32px;
    background:#fff ;
    border-radius: 32px;
}
.wrap .right .search .search-icon{
    position: absolute;
    left: 8px;
    top: 8px;
    width: 13px;
    height: 14px;
    background-color: #000 ;
    background-position: -10px -108px;
}
.wrap .right .search .searchlable{
    display: block;
    position: absolute;
    top: 8px;
    left: 6px;
    width: 90%;
    color: #9b9b9b;
    text-align: center;
}

.wrap .right .search .search-input{
    margin-left: 20px;
    width: 82%;
    border: 0;
    line-height: 16px;
}
.wrap .right .search .search-input:focus{
    border: 0;
}
.bottom{
    box-sizing: border-box;
    
    height: 35px;
    background-color: #c20c0c;
    color: #fff;
}
.bottom .list{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 185px;
    height: 35px;
}

.bottom .list .item a{
    color: #fff;
    display: block;
    height: 20px;
    padding: 0 13px;
    margin: 7px 17px;
    line-height: 20px;
    border-radius: 17px;
    
}
.bottom .list a:hover{
    background:#9b0909;
}
.bottom .list li:nth-child(3){
    position: relative;
}
.bottom .list .icon::after{
    display: block;
    position: absolute;
    content: "R";
    border-radius: 50%;
    top: 5px;
    right: 15px;
    width: 10px;
    height: 10px;
    font-size: 3px;
    text-align: center;
    line-height: 10px;
    color: yellow;
    background-color: #00f;
    overflow: hidden;
}
.banner{
    background-size: 6000px;
    background-image: url(/images/banner.jpg);
    background-position: center center;
}
.banner .banwrap{
    position: relative;
    width: 982px;
    height: 285px;
    margin: 0 auto;
}
.banner .banwrap .img-ban{
    width: 100%;
    height: 285px;
    overflow: hidden;
}
.banner .banwrap .img-ban img{
    display: block;
    width: 730px;
}
.banner .banwrap .btnl{
    display: block;
    position: absolute;
    top:50%;
    left: -68px;
    margin-top: -31px;
    width: 37px;
    height: 63px;
    background: url(/images/arrow.png) no-repeat 0 -360px;
}
.banner .banwrap .btnr{
    display: block;
    position: absolute;
    top:50%;
    right: -68px;
    margin-top: -31px;
    width: 37px;
    height: 63px;
    background: url(/images/arrow.png) no-repeat 0 -508px;
}
.banner .banwrap .dots{
    position: absolute;
    top: 259px;
    left: 0;
    width: 730px;
    height: 20px;
    text-align: center;
}
.banner .banwrap .dots a{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(/images/arrow.png) no-repeat 3px -343px;
}
.banner .banwrap .dots a:nth-child(1){
    background: url(/images/arrow.png) no-repeat -16px -343px;
}
.banner .download{
    position: absolute;
    top: 0;
    z-index: 20;
    right: -1px;
    width: 254px;
    height: 285px;
    background: url(/images/download.png) no-repeat 0 0;
}
.banner .download .btn{
    display: block;
    width: 215px;
    height: 56px;
    margin: 186px 0 0 19px;
    background-position: 0 9999px;
    text-indent: -9999px;
    background: url(/images/download.png) no-repeat -20px -185px;
}
.banner .download p{
    margin: 10px auto;
    text-align: center;
    color: #8d8d8d;
}
.banner .download .shadowl{
    display: block;
    position: absolute;
    top: 0;
    left:-20px;
    width: 20px;
    height: 285px;
    background: url(/images/arrow.png) no-repeat -1px 0;
}
.banner .download .shadowr{
    display: block;
    position: absolute;
    top: 0;
    right:-20px;
    width: 20px;
    height: 285px;
    background: url(/images/arrow.png) no-repeat -20px 0;
}
.main{
    margin: 0 auto;
    width: 980px;
    border: 1px solid #d3d3d3;
    min-height: 700px;
    background: url(/images/wrap1.png) repeat-y 100% 100% ;
}
.main .left-main{
    float: left;
    width: 100%;
    margin-right: -250px;
}
.main .left-main .wrap2{
    margin-right: 251px;
}
.main .left-main .wrap2 .wrap3{
    padding: 20px 20px 40px;
}
.left-main .hot-wrap .hot-title{
    height: 33px;
    padding: 0 10px  0 34px;
    border-bottom: 2px solid #C10D0C;
    background: url(/images/index.png) no-repeat -225px -156px;
}
.left-main .hot-wrap .hot-title .tit{
    float: left;
    /* display: block; */
    font-size: 20px;
    line-height: 28px;
    font-weight: normal;
}
.left-main .hot-wrap .hot-title .tab{
    float: left;
    margin: 7px 0 0 20px;
}
.hot-wrap .hot-title .tab a:hover{
   text-decoration-line: underline;
}
.hot-wrap .hot-title .tab .line{
    margin: 0 10px;
    color: #ccc;
}
.hot-wrap .hot-title .more{
    float: right;
    margin-top: 9px;
}
.hot-wrap .hot-title .more .cor{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 4px;
    vertical-align: middle;
    background: url(/images/index.png) no-repeat 0 -240px;
}
.hot-wrap .hot-title .more i{
    font-style: normal;
    text-align: left;
}
.hot-wrap .cover-list{
    margin: 20px 0 0 -42px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hot-wrap .cover-list li{
    width: 140px;
    height: 204px;
    padding: 0 0 30px 42px;
}